/* General container */

h1, h2, h3, h4, h5 {
    font-weight: bold!important;
}

div, p, a, ul, li {
    font-family: "Roboto", Sans-serif !important;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Categoeries gallery */

.list-categories-li .active {
    color: black;
    background-color: teal;
}

.list-categories-ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    margin: 0 auto;
}

.list-categories-li {
    margin-left: 1rem;
    margin-bottom: 1.7rem;
}

.list-categories-li:nth-child(1) {
    margin-left: 0;
}

.list-categories-li a {
    background-color: white;
    padding: 0.3rem 2rem;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

@media (max-width: 760px) {
    .list-categories-li a {
        font-size: 0.8rem;
        background-color: black;
        padding: 0.3rem 1rem;
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }
}

@media (max-width: 378px) {
    .list-categories-li a {
        font-size: 0.8rem;
        background-color: black;
        padding: 0.3rem 0.5rem;
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }
}

.list-categories-li a:hover {
    text-decoration: none;
    color: black;
    background-color: teal;
}

/* post gallery  */

.container-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-slide-arrow-gallery, .next-slide-arrow-rev {
    margin-left: 2rem;
    font-size: 1.3rem;
    border: solid 1px;
    padding: 0rem 0.35rem 0rem 0.35rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    transition: 0.3s;

}

.prev-slide-arrow-gallery, .prev-slide-arrow-rev {
    margin-right: 2rem;
    font-size: 1.3rem;
    border: solid 1px;
    padding: 0rem 0.35rem 0rem 0.35rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.next-slide-arrow-gallery:hover, .next-slide-arrow-rev:hover, .prev-slide-arrow-gallery:hover, .prev-slide-arrow-rev:hover {
    color: teal;
}

.container-gallery {
    display: grid;
    grid-template-columns: 11rem 10rem 12rem 12rem 12rem;
    grid-template-rows: 13rem 10rem;
}

.post-title {
    cursor: pointer;
    color: white;
    margin-left: 1rem;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .container-gallery {
        display: grid;
        grid-template-columns: minmax(100px, min-content) calc(100vw - 463px);
        grid-template-rows: 13rem 13rem;
    }
}

@media (max-width: 760px) {
    .container-gallery {
        display: grid;
        grid-template-columns: 7rem 7rem 11rem 10rem 9rem;
        grid-template-rows: 10rem 10rem;
    }
    .category-title {
        font-size: 0.8rem;
        padding-left: 1rem;
    }
}

@media (max-width: 378px) {
    .container-gallery {
        display: grid;
        grid-template-columns: 10rem 12rem;
        grid-template-rows: 15rem 13rem 13rem 18rem 13rem;
    }
}

.container-gallery .categories-gallery {
    padding: 0.5rem 0.5rem 2.5rem 0.5rem;
}

@media (max-width: 760px) {
    .container-gallery .categories-gallery {
        padding: 0.3rem 0.3rem 2.3rem 0.3rem;
    }
}

.container-gallery .categories-gallery img {
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
}

.categories-gallery:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(1) img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(1) img:hover {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

.categories-gallery:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(2) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(2) img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

.categories-gallery:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(3) img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(3) img:hover {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

.categories-gallery:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(4) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(4) img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

.categories-gallery:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 0;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(5) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(5) img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

.categories-gallery:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(6) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(6) img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

.categories-gallery:nth-child(7) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 0;
    position: relative;
    overflow: hidden;
}

.categories-gallery:nth-child(7) img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.categories-gallery:nth-child(7) img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.93);
}

@media (max-width: 378px) {
    .container-gallery.categories-gallery img {
        border-radius: 1rem;
    }
    .categories-gallery:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 0.5rem;
    }
    .categories-gallery:nth-child(1) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories-gallery:nth-child(2) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .categories-gallery:nth-child(2) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories-gallery:nth-child(3) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .categories-gallery:nth-child(3) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories-gallery:nth-child(4) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .categories-gallery:nth-child(4) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories-gallery:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: auto;
        grid-row-end: auto;
        padding-left: 0.3rem;
    }
    .categories-gallery:nth-child(5) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories-gallery:nth-child(6) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .categories-gallery:nth-child(6) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .categories-gallery:nth-child(7) {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }
    .categories-gallery:nth-child(7) img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* modal area */

.modal-project {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.modal-content {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
    border: 3px solid;
    border-color: teal;
    width: 50%;
    height: 70%;
    overflow: hidden;
    padding: 2rem;
}

.btn-close-modal {
    align-self: flex-end;
    color: #fff;
    align-self: flex-end;
    width: 4%;
    text-align: center;
    border-radius: 50%;
    border: solid 1px;
    border-color: transparent;
    background: #EF4F66;
    transition: .3s;
}

.btn-close-modal:hover {
    background-color: #ffffff;
    color: teal;
    border: solid 1px;
    border-color: #ef4f66;
}

.btn-modal-post a {
    background-color: #ef4f66;
    padding: 0.5rem;
    color: #fff;
    transition: .3s;
    border: solid 1px;
    border-color: transparent;
}

.btn-modal-post a:hover {
    background-color: #ffffff;
    padding: 0.5rem;
    color: teal;
    border: solid 1px;
    border-color: #ef4f66;
}

.hidden-modal {
    display: none;
}

/* reviews shortcode */

.container-review {
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slider-review-arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.list-review-ul {
    overflow: hidden;
    position: relative;
}

.list-review-container {
    display: none;
}

.show-item img {
    border-radius: 1rem;
    width: 100%;
}

.show-item .content-review {
    padding-left: 1.4rem;
}

.list-review {
    display: flex;
}

.list-review:nth-child(3) {
    grid-column-start: 2;
}

.list-review-ul .show-item {
    display: grid;
    grid-template-columns: 25rem 25rem;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100%;
    transform: translateX(4rem);
    animation: fadeVisibility 0.5s;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}